In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [6]:
ctu_13 = pd.read_csv("../Datasets/ctu-13.labeled.cleaned.csv")

In [7]:
ctu_13.head()

,src,dst,port,proto,State,label,class,modelsize
0,147.32.84.134,147.32.192.34,993.0,tcp,990I0I*z*Z0I0,Normal-Jist,normal,13
1,147.32.84.134,147.32.80.9,53.0,udp,11.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R...,Normal-Jist,normal,4879
2,147.32.84.134,173.194.16.96,80.0,tcp,96.F.,Normal-Jist,normal,5
3,147.32.84.134,193.41.230.73,80.0,tcp,66.Z.z.W.W.Z.Z.I.Z.Z.Z.Z.Z+W.F.Z.Z.z.Z.z.,Normal-Jist,normal,41
4,147.32.84.134,193.41.230.85,443.0,tcp,99.Z.z.Z.I.Z+,Normal-Jist,normal,13

In [8]:
ctu_13["State"] = ctu_13["State"].apply(lambda x: x[5:])

In [9]:
ctu_13.head()

,src,dst,port,proto,State,label,class,modelsize
0,147.32.84.134,147.32.192.34,993.0,tcp,I*z*Z0I0,Normal-Jist,normal,13
1,147.32.84.134,147.32.80.9,53.0,udp,R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R.R....,Normal-Jist,normal,4879
2,147.32.84.134,173.194.16.96,80.0,tcp,,Normal-Jist,normal,5
3,147.32.84.134,193.41.230.73,80.0,tcp,z.W.W.Z.Z.I.Z.Z.Z.Z.Z+W.F.Z.Z.z.Z.z.,Normal-Jist,normal,41
4,147.32.84.134,193.41.230.85,443.0,tcp,z.Z.I.Z+,Normal-Jist,normal,13

In [10]:
ctu_13.to_csv("../Datasets/ctu_13_without_first_5_charc.csv", index=False)